<h1>Welcome, <%= @teacher.email %></h1>
<!-- GROUP -->
<%= link_to "New Assignment", new_assignment_path %>
<div class='container'>
  <% @teacher.groups.each do |group| %>
    <h2><%= group.name %></h2>
    <table>
    <% group.students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
      </tr>
    <% end %>
  </table>
  <% end %>
</div>
<!-- END GROUP -->