<div class="jumbotron center">
  <h1>Remote Assessment</h1>
    <p>
      <%= link_to "Log in", new_teacher_session_path, class: "btn btn-default btn-lg" %>
      <%= link_to "Sign up", new_teacher_registration_path, class: "btn btn-primary btn-lg" %>
    </p>
</div>