// Place all the styles related to the assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-tall-ra {
  line-height: 2.33 !important;
  margin-top: 20px;
}

.list-group-title {
  margin-top: 30px;
  font-style: italic;
  font-style: bold;
  font-size: 1.25em;
}